.personas {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}

@media screen and (min-width: 0) {
  .personas {
    flex-direction: column;
  }
}
@media screen and (min-width: 1060px) {
  .personas {
    flex-direction: row;
  }
  
}